# Local Kubernetes & Dev Tooling
.kube/
.kind/
kubeconfig
*.kubeconfig

# Secret Management & Overrides
.env
.envrc
*.local

# OS Specific Files
.DS_Store
Thumbs.db

# Task and Build artifacts
.task/
dist/
bin/

# Pre-commit tool cache
.pre-commit-cache/

# misc
*.pdf
